// _base.scss

// load colors
@use 'colors' as c;

// load fonts
@import url('https://fonts.googleapis.com/css2?family=NTR&family=Noto+Sans+JP&family=Simonetta&display=swap');

$font-family: 'NTR';
$font-family-jp: 'Noto Sans JP';
$font-weight: 400;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-family: $font-family, $font-family-jp, sans-serif;
	font-weight: $font-weight;
}

button {
	background-color: c.$accent;
	color: c.$primary;
	border: none;
	border-radius: 200px;
	cursor: pointer;

	&:hover {
		background-color: c.$accent-dark;
		transition: 0.1s;
	}

	&:disabled {
		background-color: c.$secondary;
		color: c.$base;
		cursor: not-allowed;
	}

	&:disabled:hover {
		background-color: c.$secondary-dark;
		transition: 0.1s;
	}

}
