// _base.scss

// load colors
@use 'colors' as c;

// load fonts
@use 'fonts' as f;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-family: f.$font-family, f.$font-family-jp, sans-serif;
	font-weight: f.$font-weight;
}

span:lang(ja) {
	font-family: f.$font-family-jp, sans-serif;
	font-size: 85%;
}

button {
	background-color: c.$accent;
	color: c.$primary;
	border: none;
	border-radius: 200px;
	cursor: pointer;

	&:hover {
		background-color: c.$accent-dark;
		transition: 0.1s;
	}

	&:disabled {
		background-color: c.$secondary;
		color: c.$base;
		cursor: not-allowed;
	}

	&:disabled:hover {
		background-color: c.$secondary-dark;
		transition: 0.1s;
	}

}
