// _fonts.scss

// load fonts
@import url('https://fonts.googleapis.com/css2?family=NTR&family=Noto+Sans+JP&family=Simonetta&display=swap');

$font-family: 'NTR';
$font-family-jp: 'Noto Sans JP';
$font-weight: 400;
