@use 'base';

$title-color: #D3CCC1;

body {
	min-height: 100vh;
	background-color: base.$base;
	position: relative;
	line-height: 20px;

	#session-settings {

		position: absolute;
		left: 0;
		right: 0;
		margin: 125px auto 0;
		width: 571px;
		color: $title-color;

		h1 {
			text-align: center;
			font-size: 40px;
		}

		#session-info {
			margin-top: 52px;
			.session-info_row {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 20px 0;
				font-size: 28px;

				.session-info_row_item {
					color: base.$secondary;
				}
			}
		}

		hr {
			display: block;
			border: 1px #61605F solid;
			width: 100%;
			margin: 20px 0;
		}

		#session-form {
			padding-top: 20px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 35px) 24px;
			row-gap: 40px;
			vertical-align: baseline;

			.input-title {
				font-size: 28px;
				justify-self: left;
			}

			.input-form {
				justify-self: right;
				input {
					margin-left: 25px;
					color: base.$base;
					text-align: right;
					font-size: 24px;
					width: 70px;
				}
				label.sublabel {
					display: inline-block;
					width: 16px;
					font-size: 20px;
					text-align: right;
				}
			}

			#switch {
				$tgl-width: 48px;
				$tgl-height: 24px;
				$tgl-padding: 4px;

				#toggle {
					box-sizing: border-box;

					#slider {
						position: relative;
						display: inline-block;
						cursor: pointer;
						width: $tgl-width;
						height: $tgl-height;
						border-radius: $tgl-height;
						background-color: base.$secondary;
						padding: $tgl-padding;
						transition: 0.4s;

						&:before, &:after {

						}

						&:before {
							position: relative;
							display: inline-block;
							content: "";
							height: 100%;
							width: calc($tgl-height - 2*$tgl-padding);
							border-radius: 50%;
							transition: 0.4s;
							background-color: base.$primary;
						}

					}

					input:checked+#slider {
						background-color: base.$primary;
						&:before {
							background-color: base.$base;
							transform: translateX(calc($tgl-width - $tgl-height));
							transition: 0.4s;
						}
					}

					input {
						display: none;
					}

				}
			}

			input[type=number] {
				width: 89px;
				height: 100%;
				background: $title-color;
				border-radius: 4px;
			}

		}

		button {
			font-size: 20px;
			width: 233px;
			height: 47px;
			left: 0;
			top: 0;
			margin: 64px auto 0;
			display: block;
		}
	}

	#background-layer {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		img {
			position: inherit;
			bottom: 0;
			right: 0;
		}
	}
}
