@use 'base';

body {
	max-width: 226px;
	min-width: 226px;
	max-height: 220px;
	min-height: 220px;
	background-color: base.$primary;
	position: relative;

	#root {
		width: 100%;
		height: 100%;


		.background-layer {
			z-index: -1;
			position: fixed;
			width: 100%;
			height: 100%;
		}

		#logo {
			position: absolute;
			left: 132px;
			top: 34px;
			color: base.$primary;
			font-family: Simonetta;
			font-size: 24px;
			line-height: 24px;
			font-size: 24px;
			font-style: normal;
		}

		.container {
			position: absolute;
			padding: 82px 16px 0px;
			width: 100%;

			.setting {
				width: 100%;
				display: flex;
				flex-direction: row;
				height: 20px;
				justify-content: space-between;

				label {
					margin: 0;
					padding: 0;
					font-size: 16px;
					line-height: 20px;
					color: base.$form-color;
				}

				input[type=number] {
					margin: 0;
					padding: 0;
					text-align: right;
					width: 40px;
					font-size: 13px;
					line-height: 20px;
					border-radius: 4px;
					border: none;
					color: base.$base;
					background-color: base.$form-color;
				}
			}
			.buttons {
				margin-top: 17px;
				width: 100%;
				display: flex;
				flex-direction: column;
				row-gap: 7px;

				button {
					padding-left: 13px;
					width: 100%;
					height: 39px;
					font-size: 18px;

					div {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: start;

						span {
							margin-left: 5px;
						}
					}
				}
				button.inProgress {
					cursor: wait;
				}
			}

			.url-alert {
				width: 100%;
				color: base.$primary;
				font-size: 18px;
				line-height: 24px;
				word-wrap: break-word;
				text-align: center;

				img {
					width: 56px;
					height: 56px;
					margin-bottom: 5px;
				}

			}
	}
	}

}
